
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #f741b1;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #6169d6;
}
 #h{
    color:rgb(233, 8, 147);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: blanchedalmond;
}
#j{
    color:rgb(233, 42, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: rgb(157, 194, 224);
}